body {
  background: #412b35;
  color: #57444e;
  font-family: helvetica;
  padding: 0;
  margin: 0;
}

#menu {
  font-size: 24;
  line-height: 30px;
  margin: 0;
}

#menu ul {
  margin-bottom: 0;
  list-style: none;
}

#menu ul li:before {
  content: "~";
  color: #515492;
/*  font-weight: bold;*/
  padding-right: 0.2em;
}

#menu a {
  text-decoration: none;
}

#menu a:link {
  color: #57444e;
}
#menu a:visited {
  color: #57444e;
}
#menu a:active {
  color: red;
}
#menu a:hover {
  color: red;
}

#menu2 {
  font-size: 24;
  line-height: 30px;
}

#menu2 ul {
  margin-bottom: 0;
  list-style: none;
}

#menu2 ul li:before {
  content: "~";
  color: #009042;
/*  font-weight: bold;*/
  padding-right: 0.2em;
}

.atbot {
  bottom: 0px;
  position: absolute;
  line-height: 10px;
  padding-bottom: 20px;
}

#logo {
/*  letter-spacing: -2px; */
}

#logotyp {
  font-size: 74;
/*  font-weight: bold;*/
}

#logotyp48 {
  font-size: 138;
  font-weight: bold;
  color: #9d0817;
}

#hs {
  font-size:36;
}

#header {
  position: relative;

  font-size: 70%;
/*  font-weight: bold;*/
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.000em;
  font-style: normal;
  font-weight: 400;
  height: 180px;
}

.headspanner {
  width: 100%;
  background: #240411;
}

#footer {
}

.footspanner {
  width: 100%;
  background: #493942;
}
