!!!
%html
  %head
    %meta{:content => "initial-scale=1.0, width=device-width", :name => "viewport"}/
    %meta{:charset => "utf-8"}
    %title base48.cz hackerspace brno
    %link{:href => "css/main.css", :rel => "stylesheet"}
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/bootstrap-responsive.min.css", :rel => "stylesheet"}
    %link{:href => "css/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %script{:src => "js/jquery-1.7.1.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "http://www.openlayers.org/api/OpenLayers.js"}

  %body
    %div.navbar
      %div.navbar-inner
        %div.container
          %h3
            %a.brand{:href=>"http://base48.cz"}
              %i.icon-random
              base48
          %ul.nav
            %li
              %a{:href=>"#about-us"} Overview
            %li
              %a{:href=>"#place"} Place
            %li
              %a{:href=>"#contacts"} Contacts
            %li
              %a{:href=>"#legal"} Legal
            %li
              %a{:href=>"#membership"} Membership
            %li
              %a{:href=>"http://wiki.base48.cz"}
                Wiki
                %i.icon-external-link
    .container
      %div.hero-unit
        %div.hero-content
          %img{:src => "logo.png", :alt => "base48.cz logo"}
          %p
            base48@irc.freenode.net
        #photoframe.carousel
          .carousel-inner
            .active.item
              %img{:src => "photos/0.png", :alt => "Hacking a new toy"}
            .item
              %img{:src => "photos/1.png", :alt => "Dirty hack has happened"}
            .item
              %img{:src => "photos/2.png", :alt => "Motor"}
            .item
              %img{:src => "photos/3.png", :alt => "So leet"}
            .item
              %img{:src => "photos/4.png", :alt => "Workspace"}
            .item
              %img{:src => "photos/5.png", :alt => "base48 overview"}
            .item
              %img{:src => "photos/6.png", :alt => "Embedded world"}
          %a.carousel-control.left{:href=>"#photoframe", :"data-slide"=>"prev"}
            %i.icon-arrow-left
          %a.carousel-control.right{:href=>"#photoframe", :"data-slide"=>"next"}
            %i.icon-arrow-right
        %div.clear
      %hr.soften
      .row-fluid
        .span4
          %h3#about-us Hackerspace
          %p
            Community-operated physical place, where people can meet and work on their projects.
          %div
            %span Our hackerspace is
            %ul
              %li a well equipped laboratory
              %li a club
              %li a meeting place
              %li a lecture place
              %li a common interest group
        .span4
          %h3 Why number 48?
          %p
            Because our actual space is in the street Čápkova with orientation number 48
            and because with name base64 we would have a little problem with search engine preference.
        .span4
          %h3 Aims of our hackerspace
          %ul
            %li electronics
            %li robotics
            %li artificial intelligence
            %li knowledge sharing
            %li
              %abbr{:title=>"Information and communication technology"} ICT
              security
            %li penetration testing
            %li 3D printing
            %li open source software and hardware development
            %li support of non-profit organizations sharing similar goals
      %hr
      .row-fluid
        .span6
          %h3#contacts Contact
          Join us on
          %abbr{:title=>"Internet Relay Chat"}IRC
          – our main communication channel:
          %table#irc
            %tr
              %td
                %i.icon-chevron-right
                server
              %td irc.freenode.net
            %tr
              %td
                %i.icon-chevron-right
                port
              %td 6667
            %tr
              %td
                %i.icon-chevron-right
                channel
              %td #base48
          %br
          %h3 Resources
          %table#resources
            %tr
              %td
                %i.icon-book
                wiki
              %td
                %a{:href=>"http://wiki.base48.cz"} wiki.base48.cz
            %tr
              %td
                %i.icon-file
                mailinglists
              %td
                %a{:href=>"http://lists.base48.cz"} lists.base48.cz
            %tr
              %td
                %i.icon-github-sign
                github
              %td
                %a{:href=>"http://github.com/hackerspace/"} github.com/hackerspace
        .span6
          %h3#place Place
          #map_canvas{:style => "width:100%; height:250px"}
          #map_btn
            %a.btn.btn-small{:href => "http://maps.google.com/maps?hl=cs&q=google+maps+capkova+48,+Brno&ie=UTF8&hq=&hnear=%C4%8C%C3%A1pkova+543%2F48,+602+00+Brno-Veve%C5%99%C3%AD,+%C4%8Cesk%C3%A1+republika&ll=49.204139,16.594379&spn=0.01015,0.015407&t=h&z=14&vpsrc=0&source=embed"}
              %i.icon-map-marker
              Google Maps
            %a.btn.btn-small{:href => "http://www.openstreetmap.org/?mlat=49.20418&mlon=16.594387&zoom=17"}
              %i.icon-search
              Bigger map

      %hr
      .row-fluid
        .span3
          %h3#legal Legal
          Our legal entity is base48, z.s.
          %ul
            %li registered 6.8.2010
            %li IČ: 22859802
            %li bank account: 2900086515/2010
        .span3
          %h3#support Support us
          We accept financial support
          and donations in form of equipment
          that might be beneficial for us.
          As we strive to remain as neutral
          as possible we probably won't be able
          to provide much in return.
        .span3
          %h3#membership Membership
          %p
            While people can visit and use the hackerspace
            more or less without restrictions, being a regular member
            brings some advantages such as unlimited access
            to both physical and virtual infrastructure we
            provide. The funds we receive from our members
            are used to cover the costs of running the hackerspace
            and for buying new equipment.

          %p
            Monthly fee for regular memebers is 400 CZK and 200 CZK for students.
        .span3
          %h3#coops Cooperation
          We cooperate with following organizations:
          .support
            %a{:href => "http://vspfree.cz"}
              %img{:src => "img/vpsfree.svg", :alt => "vpsfree.cz"}
      %hr
      .row
        .span2.offset5
          %p
            %small Powered by plaintext

    :javascript
      function boot() {
        $('.carousel').carousel(0);
        var map = new OpenLayers.Map("map_canvas");
        map.addLayer(new OpenLayers.Layer.OSM());
        var lonLat = new OpenLayers.LonLat(16.594387, 49.20418).transform(
              new OpenLayers.Projection("EPSG:4326"),
              map.getProjectionObject()
          );

        var zoom=16;
        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(lonLat));
        map.setCenter (lonLat, zoom);
      }
      $(document).ready(boot());
